.app{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.displayDiv{
  border: 2px solid black;
  height: 80px;
  font-size: 50px;
  width: 50%;
  text-align: right;
  overflow-x: auto;
  overflow-y: hidden;
}

.numberpad{
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10px;
  font-size: 50px;
  font-weight: bold;
  border:1px solid black
}

.grid-item{
  display: flex;
  justify-content: center;
}
